<section class="container mt-5 col-md-10">
    <div class="form-wrap">

        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Mensaje 1</th>
                            <th scope="col">Traducción</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each successes}}
                        <tr class="table-active">
                            <td>{{msg1}}</td>
                            <td>{{msg1}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>